* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #26272b;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow-x: hidden;
  padding-top: 25px;
}